* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 20px;
}

@media (min-width: 540px) {
  h2 {
    margin: 40px 0;
  }
}

a {
  text-decoration: none;
}

button,
.btn {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.8;
}
